/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container{
  width: 900px;
  margin: auto;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.container h1 {
  color: white;
  display: flex;
  justify-content: left;
  text-align: left;
 }

 .container p{
  color: white;
  opacity: 0.8;
  font-size: large;
 }

.container button{
  font-size: large;
  color: white;
  background-color: rgb(30, 221, 136);
  padding: 10px 20px;
  border: solid rgb(30, 221, 136);
  border-radius: 20px;
  font-weight: 400;
}

.container h2{
  text-align: center;
}

.cards {
  display: flex;
}

.card {
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 3px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  height: 300px;
  border: 1px solid rgb(230, 230, 230);
}
.card img {
  width: 100px;
}

.card p {
  color: rgb(151, 151, 151);
}

.footer {
  padding: 60px;
  background-color: #2c2b2b;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.links a{
  color: greenyellow;
  font-size: 30px;
  text-decoration: none;
}

.footer p{
  margin-top: 15px;
}
